################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Crac-Man/.vs/Crac-Man/v15/Server/sqlite3
/Crac-Man/.vs/Crac-Man/v15
/Crac-Man/.vs
